#tablaPersonas {
    font-size: 0.9rem;
}

#tablaPersonas thead {
    background-color: #f8f9fa;
}

#tablaPersonas td, 
#tablaPersonas th {
    text-align: center;
    vertical-align: middle;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_length {
    float: left;
    margin-bottom: 10px;
}
